<form action="/" method="post" class="w-75">
    <input class="form-control my-3" type="text" name="url" value="" placeholder="Input URL here">
    <button class="btn btn-success" type="Submit">Shorten!</button>
</form>
