<h3>Success! Please use this link:</h3>
<a class="my-3" href="https://google.com.tw">{{shortUrl}}</a>
<div class="btn-area d-flex gap-2">
    <button type="button" class="btn btn-info" >Copy</button>
    <a href="/" class="btn btn-success">Create a new one</a>
</div>
