<h3>Success! Please use this link:</h3>
<h2 class="my-4 text-primary">{{shortUrl}}</h2>
<div class="btn-area d-flex gap-2">
    <button type="button" class="btn btn-info" >Copy</button>
    <a href="/" class="btn btn-success">Create a new one</a>
</div>
